<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Links -->
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>

  <body>
    <header>
      <nav>
        <a class="nav-btn" id="btn-home" href="/">回到首頁</a>
        <a class="nav-btn" id="btn-about" href="/">About</a>
        <a class="nav-btn" id="btn-portfolio" href="/">Portfolio</a>
        <a class="nav-btn" id="btn-contact" href="/">Contact</a>
      </nav>
    </header>
    {{{ body }}}
  </body>
</html>