<header>
  <nav>
    <a class="nav-btn" id="btn-home" href="/">回到首頁</a>
    <a class="nav-btn" id="btn-about" href="/about">About</a>
    <a class="nav-btn" id="btn-portfolio" href="/portfolio">Portfolio</a>
    <a class="nav-btn btn-activate" id="btn-contact" href="/contact">Contact</a>
  </nav>
</header>

<div class="container">
  <h1 class="title">Contact</h1>
</div>